.EnterBitconPrice-Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--opaicityGray);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ChangePaymentContainer {
  max-width: 275px;
  width: 100%;
  height: fit-content;
  background-color: var(--darkModeText);
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.ChangePaymentContainer-Desc {
  padding: 10px;
}

.bitcoinPriceInput {
  background-color: var(--lightModeBackgroundOffset);
  border-width: 0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
}
