.Home {
  width: 90%;
  min-height: 100dvh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Home-main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.Home-header {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.Home-header .App-logo {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.Home-main .Home-title {
  font-size: 80px;
  margin: 0;
  text-align: center;
}
.Home-main .Home-subtitle {
  width: 100%;
  max-width: 500px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
.Home-main .Home-inputContainer {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0;
}

.Home-main .Home-inputContainer .Home-input {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--lightModeBackgroundOffset);
  border-width: 0;
  color: var(--lightModeText);
}

.Home-main .Home-button {
  width: auto;
  padding: 12px 40px;

  background-color: var(--lightModeBackgroundOffset);
  border-width: 0;
  border-radius: 8px;
  cursor: pointer;

  margin: 80px auto 20px;
  font-size: 18px;
  color: var(--lightModeText);
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
