.POS-Container {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.POS-ContentContainer {
  width: 90%;
  max-width: 500px;
  min-height: calc(100dvh - 50px);
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.POS-navbar {
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  position: relative;
}
.POS-back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.POS-Container .POS-name {
  margin-top: 15px;
  text-transform: capitalize;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
}
.POS-Container .POS-chargeItems {
  margin-bottom: 0;
  margin: auto auto 0;
  font-size: 20px;
}
.POS-Container .POS-BalanceView {
  width: 100%;
  display: flex;
  justify-content: center;
}
.POS-Container .POS-totalBalance {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 70px;
  margin: 0 auto auto;
}
.POS-Container .POS-ReadonlyInput {
  background-color: unset;
  border-width: 0;
}
.POS-Container .POS-BalanceScrollView {
  width: auto;
  max-width: calc(100dvw - 150px);
  height: fit-content;
  overflow-y: scroll;
}
.POS-Container .POS-AmountError {
  margin: 0 auto;
}

.POS-Container .POS-btn {
  display: flex;
  background-color: var(--primary);
  color: var(--darkModeText);

  align-items: center;
  margin: 10px auto 0;
}
.POS-Container .POS-btn .POS-btnIcon {
  height: 25px;
  width: auto;
  margin-right: 5px;
}

.chargeContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;

  background-color: rgb(0, 54, 83);
  border-radius: 10px;
  color: white;
}
.navItems {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.navItems h3 {
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  text-transform: uppercase;
}
.navItems .slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50%;
  left: 0%;
  background-color: green;
  transition: 0.3s all ease-out;
}

.navItems .translated {
  left: 50%;
}
.navItems .unTranslated {
  left: 0%;
}

.dollarValue {
  margin: 0 auto;
}

.POS-keypad {
  width: 100%;
  margin-top: 50px;
}

.POS-keypad .POS-keypadRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.POS-keypad .POS-keypadRow .key {
  width: min(calc(100dvw / 3), 138px);

  height: min(calc(100dvw / 3), 70px);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.POS-keypad .POS-keypadRow .key span {
  font-size: 20px;
}

.POS-LoadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.POS-LoadingScreen .POS-LoadingScreenDescription {
  width: 80%;
  text-align: center;
  margin: 20px auto 0;
}

.POS-denominationDisclaimer {
  margin: 0 auto 20px;
  font-size: 12px;
}
